* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #0d0d0d;
}

/* Global Material Overrides */
.white-bottom-sheet .mat-bottom-sheet-container {
  background: #ffffff;
}


.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #0d0d0d;
  --mdc-snackbar-supporting-text-color: #ffffff;
  
  .mdc-snackbar__surface {
    border-radius: 4px !important;
  }
  
  .mdc-snackbar__label {
    font-family: 'Inter', sans-serif !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    letter-spacing: 0.05em !important;
    text-transform: uppercase !important;
  }
}
